<%- include("static/header.ejs"); %>
    <div class="container px-3 mt-5">
      <div class="columns mt-5 pt-5">
        <div class="column">
          <p class="has-text-white title is-large"><i class="fad fa-handshake has-text-success"></i>&nbsp;Our Partners</p>
          <p class="content has-text-white" style="margin-top: -20px;">Some of our amazing Partners are listed below!</p>
        </div>
        <div class="column">
          <!--<img draggable="false" class="has-text-centered centered" style="width: 90%;" src="https://cdn.discordapp.com/attachments/794310443635310653/796808108797329438/Untitled-1.png">-->        </div>
      </div>
    
      <div class="columns is-multiline is-desktop is-variable is-7 mt-5 pt-5">
          <div class="column is-3 mb-5">          
            <div class="box botCard bg-dark">
              <div>
                <div class="is-inline-block">
                  <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp;4D#0001</span>
                  <br>
                </div>
                <img draggable="false" onerror="imgError(this);" src="https://cdn.discordapp.com/icons/720706774025633903/aa52dc2e5d7e0eca41dd771c7c11f405.webp?size=128" class="is-pulled-right	cardBotImg z">
              </div>
              <p class="cardBotName has-text-white mt-5">Blurple Development</p>   
              <p class="cardBotDesc mt-1">At Blurple Development you will find many experienced developers, and the home of many bots. Including Riot, Reports Plus and Robo Securities.</p>
              <div class="cardButtons is-flex">
                  <a href="https://blurple.gg" target="_blank" class="cardBtn1"><i class="fad fa-globe"></i>&nbsp;Website</a>
                  <a href="https://blurple.gg/discord" target="_blank" class="cardBtn2"><i class="fab fa-discord"></i>&nbsp;Discord</a>
              </div>
            </div>
        </div>
        <div class="column is-3 mb-5">          
          <div class="box botCard bg-dark">
            <div>
              <div class="is-inline-block">
                <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp;CamTheHelpDesk</span>
                <br>
              </div>
              <img draggable="false" onerror="imgError(this);" src="https://cdn.discordapp.com/icons/799852904781578262/a_1475ab635319c8b2b96ea1f83e614a56.gif?size=128" class="is-pulled-right	cardBotImg z">
            </div>
            <p class="cardBotName has-text-white mt-5">Discord Security (DiscSec)</p>   
            <p class="cardBotDesc mt-1">DiscSec creates innovative new security features for your Discord server that you never thought possible. Sound interesting? If you sign up now, you can get completely free credits that you can redeem for premium once the full service comes out! (The community has already claimed over 8475 free credits!)</p>
            <div class="cardButtons is-flex">
                <a href="https://DiscSec.com" target="_blank" class="cardBtn1"><i class="fad fa-globe"></i>&nbsp;Website</a>
                <a href="https://discord.com/invite/XzhUYqGScH" target="_blank" class="cardBtn2"><i class="fab fa-discord"></i>&nbsp;Discord</a>
            </div>
          </div>
      </div>
      <div class="column is-3 mb-5">          
        <div class="box botCard bg-dark">
          <div>
            <div class="is-inline-block">
              <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp;Hexxx🌙ᴿᵀᴺ#2121
                </span>
              <br>
            </div>
            <img draggable="false" onerror="imgError(this);" src="https://cdn.discordapp.com/icons/798229059036774481/a_93fc1756c07996f6f0b5a6cd64da64d5.gif?size=128" class="is-pulled-right	cardBotImg z">
          </div>
          <p class="cardBotName has-text-white mt-5">Dark Studio (Dark Codes)</p>   
          <p class="cardBotDesc mt-1">Dark Studio is an open source coding community. We are a small group of people who wants to put their endeavour in all sort of coding related stuff. We can help you with many things in any of the possible way.</p>
          <div class="cardButtons is-flex">
              <a href="https://darkdevs.net" target="_blank" class="cardBtn1"><i class="fad fa-globe"></i>&nbsp;Website</a>
              <a href="https://discord.gg/devs" target="_blank" class="cardBtn2"><i class="fab fa-discord"></i>&nbsp;Discord</a>
          </div>
        </div>
    </div>
      </div>
         </div>
        </div>
    <%- include("static/footer.ejs"); %>
    