<%- include("static/header.ejs"); %>
<br>
<br><br>
<br>
    <div class="container px-3 mt-5">
      <div class="columns mt-5 pt-5">
        <div class="column">
          <p class="has-text-white title is-large"><i class="fa fa-tag has-text-warning"></i> Tags</p>
          <p class="content has-text-white" style="margin-top: -20px;">Select your tag and find your best bot!</p>
        </div>
        <div class="column">
          <!--<img draggable="false" class="has-text-centered centered" style="width: 90%;" src="https://cdn.discordapp.com/attachments/794310443635310653/796808108797329438/Untitled-1.png">-->        </div>
      </div>

      
      <div class="box bg-dark">
        <div class="field is-grouped is-grouped-multiline">
        
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Moderation" class="tag is-discord">Moderation</a>
              <a class="tag fa fa-cogs has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Music" class="tag is-discord">Music</a>
              <a class="tag fa fa-music has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Game" class="tag is-discord">Game</a>
              <a class="tag fa fa-gamepad has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Utility" class="tag is-discord">Utility</a>
              <a class="tag fa fa-tag has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Economy" class="tag is-discord">Economy</a>
              <a class="tag fa fa-coin has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/NSFW" class="tag is-discord">NSFW</a>
              <a class="tag fa fa-exclamation-circle has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Fun" class="tag is-discord">Fun</a>
              <a class="tag fa fa-smile has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Meme" class="tag is-discord">Meme</a>
              <a class="tag fa fa-alien-monster has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Turkish" class="tag is-discord">Turkish</a>
              <a class="tag fa fa-flag has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Invite-Systems" class="tag is-discord">Invite Systems</a>
              <a class="tag fa fa-link has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Autorole" class="tag is-discord">Auto Role</a>
              <a class="tag fa fa-user has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Fortnite" class="tag is-discord">Fortnite</a>
              <a class="tag fa fa-gamepad has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Minecraft" class="tag is-discord">Minecraft</a>
              <a class="tag fa fa-cube has-text-light has-background-dark"></a>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons is-danger">
              <a href="/tag/Emojis" class="tag is-discord">Emojis</a>
              <a class="tag fa fa-smile has-text-light has-background-dark"></a>
            </div>
          </div>
  
        </div>
      </div>


      </div>
      <br />
<br />
<br />
<br />
<br />
<br />
<br />
    <%- include("static/footer.ejs"); %>
    