<%- include("static/header.ejs"); %>
    <div class="container px-3 mt-5">
      <div class="columns mt-5 pt-5">
        <div class="column">
          <p class="has-text-white title is-large"><i class="fad fa-users has-text-warning"></i>&nbsp;Our Team</p>
          <p class="content has-text-white" style="margin-top: -20px;">The team behind bots.land are listed here!</p>
          
          <div class="mt-5 pt-5">
            
            <div class="columns is-multiline">

                <div class="is-4 column">
                 <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://bots.land/user/602030875999469569"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/602030875999469569" class="pulse-purple" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">Zên#6951</p>
                            <p class="is-size-7">Founder / Developer</p>
                        </div>
                    </div>
                </div>
                <div class="is-4 column">
                    <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://bots.land/user/567885938160697377"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/567885938160697377?format=gif" class="pulse-skyblue" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">Anaxes#3274</p>
                            <p class="is-size-7">Founder / Developer</p>
                        </div>
                    </div>
                </div>
                <div class="is-4 column">
                    <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://bots.land/user/778928933571264512"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/778928933571264512?format=gif" class="pulse-purple" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">Myth#2022</p>
                            <p class="is-size-7">Founder / Community Manager</p>
                        </div>
                    </div>
                </div>
                <div class="is-4 column">
                    <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://bots.land/user/482957218980036618"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/482957218980036618?format=gif" class="pulse-skyblue" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">4D#0001</p>
                            <p class="is-size-7">Founder / Community Manager</p>
                        </div>
                    </div>
                </div>
                <div class="is-4 column">
                    <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://bots.land/user/299902171439169536"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/299902171439169536" class="pulse-purple" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">Lacuna#5922</p>
                            <p class="is-size-7">Website Administrator / Project Manager</p>
                        </div>
                    </div>
                </div>
                <div class="is-4 column">
                    <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://bots.land/user/788863905689763841"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/788863905689763841" class="pulse-skyblue" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">jxcbmn#5425</p>
                            <p class="is-size-7">Website Administrator / Community Manager</p>
                        </div>
                    </div>
                </div>
                
                <div class="is-4 column">
                    <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://bots.land/user/515632112330866690"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/515632112330866690?format=gif" class="pulse-purple" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">Oliver G.#2639</p>
                            <p class="is-size-7">Website Administrator / Community Manager</p>
                        </div>
                    </div>
                </div>

                <div class="is-4 column">
                    <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://bots.land/user/467106064022896661"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/467106064022896661" class="pulse-skyblue" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">Donzee Boi#1000</p>
                            <p class="is-size-7">Website Moderator</p>
                        </div>
                    </div>
                </div>

                <div class="is-4 column">
                    <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://bots.land/user/493460004104306688"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/493460004104306688" class="pulse-purple" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">Nya0#0888</p>
                            <p class="is-size-7">Website Moderator</p>
                        </div>
                    </div>
                </div>

                <div class="is-4 column">
                    <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://bots.land/user/788088217961627658"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/788088217961627658" class="pulse-skyblue" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">Pekmen#2112</p>
                            <p class="is-size-7">Website Moderator</p>
                        </div>
                    </div>
                </div>

                <div class="is-4 column">
                    <div class="box bg-dark is-flex pb-2">
                        <div>
                        <a href="https://bots.land/user/799270973996007455"><img style="border-radius: 50%; width: 75px;" src="https://api.slushie.gg/avatar/799270973996007455" class="pulse-skyblue" draggable="false"></a>
                        </div>
                        <div class="ml-3 mt-3">
                            <p class="is-size-5">Cardinal#2690</p>
                            <p class="is-size-7">Website Moderator</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>

          </div>

        </div>
        </div>
      </div>
  
    <%- include("static/footer.ejs"); %>