<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css">
    <title>Verifier</title>
</head>

<body class="bg-gray-900">
<style>
    .homeHeaderBtn1:hover {
        box-shadow: 0px 0px 10px 0px #4338ca;
    }
    .homeHeaderBtn2:hover {
        box-shadow: 0px 0px 10px 0px #b81c1d;
    }
    .headerDesc {
        width: 450px;
        text-align: center !important;
    }
    @media screen and (max-width: 600px) {
        .headerDesc {
            width: 100% !important;
        }
    }
</style>
    <nav class="bg-gray-800 z-50 sticky top-0 px-6 border-b-2 border-gray-700">
        <div class="container mx-auto">
            <div class="flex flex-wrap md:flew-no-wrap items-center justify-between sm:px-0 mx-auto lg:mx-none">
                <div>
                    <div class="cursor-pointer flex items-center leading-none float-left py-2"><img draggable="false"
                            src="https://cdn.discordapp.com/attachments/761720021210628096/765187030874587156/Adsz_11.png" class="w-16" alt="Logo"></div>
                </div>
                <div class="flex md:hidden cursor-pointer bg-discord-border items-center px-3 py-2 rounded text-white">
                    <i class="far fa-bars"></i></div>
                <ul
                    class="hidden md:flex flex-col md:flex-row md:items-center space-x-0 space-y-5 md:space-y-0 md:space-x-4 md:justify-center text-sm w-full md:w-auto select-none">
                    <li><a
                            class="text-sm text-gray-300 font-medium hover:text-white duration-200 transition ease-in-out"
                            href="https://discord.gg/XbuJ6VH">Discord</a>
                    </li>
                    <li><a
                            class="text-sm text-gray-300 font-medium hover:text-white duration-200 transition ease-in-out"
                            href="https://twitter.com/discordlistgg">Dashboard</a>
                    </li>
                    <li><a
                            class="text-sm text-gray-300 font-medium hover:text-white duration-200 transition ease-in-out"
                            href="https://medium.com/discordlist/introducing-discordlist-gg-b2f34bbf3b43">Blog</a>
                    </li>
                    <li><a
                            class="text-sm text-gray-300 font-medium hover:text-white duration-200 transition ease-in-out"
                            href="https://imgur.com/gallery/O7O5Uyz">Website Pictures</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<section class="text-white bg-gray-800 p-10" style="background: url(/assets/img/particles.png); background-size: 30%;">
    <div class="mx-auto mt-10 pb-10 justify-center text-center">
        <p class="text-indigo-700 text-sm mb-4">PROTECTION SYSTEMS</p>
        <h1 class="text-white text-5xl text-center font-bold">Verifier Bot</h1>
        <div class="headerDesc mt-3 text-center mx-auto">
            <p class="text-gray-400 text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque cumque, necessitatibus provident, consequatur odit, accusantium consequuntur amet laboriosam eligendi facere ratione? Distinctio obcaecati voluptate in maiores id eius necessitatibus aut!</p>
        </div>
        <br>
        
<div id="widget"></div>
<script src="https://bots.land/api/v1/bots/689171084867665989/widget.js"></script> 
        <button class="mx-auto homeHeaderBtn mt-5 bg-indigo-700 py-2 mr-3 px-12 rounded transition duration-200 rounded-full border-2 border-indigo-700 hover:bg-opacity-25 relative text-center" href="#">Invite</button>
        <button class="mx-auto homeHeaderBtn2 mt-5 bg-red-700 py-2 px-12 rounded transition duration-200 rounded-full border-2 border-red-700 hover:bg-opacity-25 relative text-center" href="#">Support</button>
    </div>
</section>
<div class="border border-gray-800"></div>

</body>

</html>