<br id="br" />
<br id="br" />
<br id="br" />
<br id="br" />
<div class="z bg-dark footer pt-5 pb-3 pl-5 pr-4" style="padding:0;vertical-align: middle;">
      <div class="columns mt-5">
        <div class="column is-6">
          <h1 class="is-size-3 text-white">Bots Land</h1>
          <p class="has-text-white" style="opacity: 0.5;"> Copyright © 2020 -  <script>
            document.write(new Date().getFullYear());
          </script>&nbsp;Bots.Land<br />All our rights are reserved. Not affiliated with Discord, Inc.</p>
        </div>
        <div class="column">
          <b class="has-text-light is-uppercase">Socials</b>
          <br />
          <a class="has-text-light" href="/discord">Our Discord</a><br />
          <a class="has-text-light" href="#!">Instagram</a><br />
          <a class="has-text-light" href="https://twitter.com/bots_land">Twitter</a>
        </div>
        <div class="column">
          <b class="has-text-light is-uppercase">Links</b>
          <br />
          <a class="has-text-light" href="/partners">Partners</a><br />
          <a class="has-text-light" href="/bots">Bots</a><br />
          <a class="has-text-light" href="/tags">Tags</a>
        </div>
        <div class="column">
          <b class="has-text-light is-uppercase">Contact</b>
          <br />
          <a class="has-text-light" href="mailto:support@bots.land">support@bots.land</a>
        </div>
      </div>
      <div class="hr mt-5 "></div>
      <p class="has-text-centered mt-5 mb-4">Developed by <a class="has-text-info" href="https://bots.land/user/602030875999469569">Zên#6951</a>&nbsp;&&nbsp;<a class="has-text-info" href="https://bots.land/user/567885938160697377">Anaxes#3274</a>.</p>
</div>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
          tippy('.tippy', {arrow: true,animation: 'scale',});
    </script>
  </body>
</html>