       <!--End Dashboard Content-->
      <!--start overlay-->
	  <div class="overlay toggle-menu"></div>
	<!--end overlay-->
    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	<!--Start footer-->
	<footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2020 -  <script>
            document.write(new Date().getFullYear());
          </script> Bots.Land - Admin
        </div>
      </div>
    </footer>
	<!--End footer-->
  </div><!--End wrapper-->

  <!-- Bootstrap core JavaScript-->
  <script src="/admin/assets/js/jquery.min.js"></script>
  <script src="/admin/assets/js/popper.min.js"></script>
  <script src="/admin/assets/js/bootstrap.min.js"></script>
	
  <!-- simplebar js -->
  <script src="/admin/assets/plugins/simplebar/js/simplebar.js"></script>
  <!-- waves effect js -->
  <script src="/admin/assets/js/waves.js"></script>
  <!-- sidebar-menu js -->
  <script src="/admin/assets/js/sidebar-menu.js"></script>
  <!-- Custom scripts -->
  <script src="/admin/assets/js/app-script.js"></script>
  
  <!-- Vector map JavaScript -->
  <script src="/admin/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
  <script src="/admin/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
  <!-- Chart js -->
  <script src="/admin/assets/plugins/Chart.js/Chart.min.js"></script>
  <script src="/admin/assets/plugins/Chart.js/Chart.extension.js"></script>
  <!-- Index js -->
  <script src="/admin/assets/js/index.js"></script>
</body>
</html>
